name: 'Terraform-Docs'

on:
  pull_request:
  workflow_call:
    inputs:
      find-dir:
        required: false
        type: string
        default: 'disabled'
      recursive:
        required: false
        type: boolean
        default: false
      recursive-path:
        required: false
        type: string
        default: 'modules'
      working-dir:
        required: false
        type: string
        default: '.'

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
          with:
            ref: ${{ github.event.pull_request.head.ref }}

        - name: Render terraform docs inside the README.md and push changes back to PR branch
          uses: terraform-docs/gh-actions@v1.0.0
          with:
            find-dir: ${{ inputs.find-dir }}
            git-push: "true"
            output-file: README.md
            output-method: inject
            recursive: ${{ inputs.recursive }}
            recursive-path: ${{ inputs.recursive-path }}
            working-dir: ${{ inputs.working-dir }}
