name: Terraform fmt

on:
  workflow_call:
    inputs:
      terraform_version:
        description: 'The version of Terraform to use'
        required: false
        default: '1.11.4'
        type: string

  workflow_dispatch:
    inputs:
      terraform_version:
        description: 'The version of Terraform to use'
        required: false
        default: '1.11.4'
        type: string
  pull_request:

jobs:
  verify:
    name: Check Terraform Formatting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.head_ref }}  # Checkout the PR source branch

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3.1.2
      with:
        terraform_version: ${{ inputs.terraform_version }}

    - name: Run Terraform fmt
      run: terraform fmt -recursive

    - name: Commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git diff --quiet && git diff --staged --quiet || (git add -A && git commit -m "Apply terraform fmt")

    - name: Post comment on failure
      if: failure()
      uses: actions/github-script@v8
      with:
        script: |
          github.rest.issues.createComment({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: context.issue.number,
            body: "Terraform fmt failed. We recommend setting up your IDE to automatically run terraform fmt on save or before pushing."
          });
