name: Release Please

# This is a reusable workflow for downstream repos to call.
# NOTE: This workflow is NOT used for Actions repo releases - see release.yml instead.
#
# Usage in downstream repos:
#   jobs:
#     create-release:
#       uses: Coalfire-CF/Actions/.github/workflows/org-release.yml@v0.2.1
#       secrets: inherit

on:
  workflow_call:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write

    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

    steps:
      - name: Run Release Please
        id: release
        uses: googleapis/release-please-action@v4.4.0
        with:
          token: ${{ github.token }}

  checkov-scan:
    name: Run Checkov Security Scan
    needs: release
    if: needs.release.outputs.release_created == 'true'
    uses: Coalfire-CF/Actions/.github/workflows/org-checkov-release.yml@main # This is a temp fix, will be investigating manually changing this to match versions after a cut to avoid loops.
    permissions:
      contents: write
      actions: read
    secrets: inherit

  infracost-breakdown:
    name: Run Infracost Cost Breakdown
    needs: release
    if: needs.release.outputs.release_created == 'true'
    uses: Coalfire-CF/Actions/.github/workflows/org-infracost-release.yml@feat/infracost-poc
    permissions:
      contents: write
      actions: read
    secrets: inherit

  trivy-scan:
    name: Run Trivy Security Scan
    needs: release
    if: needs.release.outputs.release_created == 'true'
    uses: Coalfire-CF/Actions/.github/workflows/org-trivy-release.yml@feat/trivy-scanning
    permissions:
      contents: write
      actions: read
    secrets: inherit
