name: Release Please

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4.4.0
